# Betriebssystem-Dateien
.DS_Store
Thumbs.db

# Umgebung
.env

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Cache-Dateien
.cache/
.local/
.config/
.upm/
.pythonlibs/

# Replit spezifisch
.replit
.upm

# Temporäre Dateien
*.log
*.lock